.drinkContainer {
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
  /* height: 90vh; */

}

.imgContainer {
  width: 20%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  width: 30%;
}

.description header {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 5%;
}

.drinkContainer section {
  /* border: 1px solid red; */
  margin-top: 10%;
}

.drinkImg {
  width: 100%;
  border: 3px solid white;
  border-radius: 20px;
}


.description span{
  color: #03e9f4;
}

.description span:nth-child(1)
{
  filter: hue-rotate(110deg);
}
