.drinkContainer {
  display: flex;
  flex-wrap: wrap;
}

.searchPageContainer {
  padding-left: 4%;
}

.searchPageContainer h1 {
  text-align: center;
}

.errorSearchPageContainer {
  text-align: center;
}