.reelContainer {
  display: flex;
  overflow-x: auto;
}

.drinkImgContainer {
  width: 80%;
}

.drinkImg {
  width: 100px
}

.drink {
  border: 1px solid red;
  transition: 1s;
}

.drink:hover {
  cursor: pointer;
  background-color: aquamarine;
  opacity: 0.5;
}